[Unit]
Description=Netscience CNL service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/opt/netscience-compose/prod.sh start
ExecStop=/opt/netscience-compose/prod.sh stop
[Install]
WantedBy=multi-user.target